<form class="form-horizontal" ng-submit="$ctrl.save()">
	<div class="form-group">
		<label for="movie-select" class="control-label col-xs-2">Movie</label>
		<div class="col-xs-4">
			<ui-select ng-model="$ctrl.movie"
				theme="bootstrap"
				reset-search-input="false"
				style="width: 600px;"
				input-id="movie-select"
				title="Choose a movies">
				<ui-select-match placeholder="Enter a movie title...">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="movie in $ctrl.movies"
					refresh="$ctrl.refreshMovies($select.search)"
					refresh-delay="0">
					<div ng-bind-html="$ctrl.trustAsHtml(movie.name | highlight: $select.search)"></div>
	   			</ui-select-choices>
	  		</ui-select>
	  		Selected: {{$ctrl.movie}}
		</div>
	</div>
	<div class="form-group">
		<label for="theater" class="control-label col-xs-2">Theater</label>
		<div class="col-xs-4">
			<ui-select ng-model="$ctrl.theater"
				theme="bootstrap"
				reset-search-input="false"
				style="width: 600px;"
				input-id="movie-select"
				title="Choose a movies">
				<ui-select-match placeholder="Enter a theater name...">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="movie in $ctrl.theaters"
					refresh="$ctrl.refreshTheaters($select.search)"
					refresh-delay="0">
					<div ng-bind-html="$ctrl.trustAsHtml(movie.name | highlight: $select.search)"></div>
	   			</ui-select-choices>
	  		</ui-select>
	  		Selected: {{$ctrl.theater}}
		</div>
	</div>
	<div class="form-group">
		<label for="start-date" class="control-label col-xs-2">Range Start</label>
		<div class="col-xs-4">
			<div class="input-group"
				moment-picker="$ctrl.job.data.time_start"
				format="llll">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-calendar"></i>
				</span>
				<input class="form-control"
					id="start-date"
					placeholder="Select a date"
					ng-model="$ctrl.job.data.time_start"
					ng-model-options="{ updateOn: 'blur' }">
				</div>
		</div>
	</div>
	<div class="form-group">
		<label for="end-date" class="control-label col-xs-2">Range End</label>
		<div class="col-xs-4">
			<div class="input-group"
				moment-picker="$ctrl.job.data.time_end"
				format="llll">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-calendar"></i>
				</span>
				<input class="form-control"
					id="end-date"
					placeholder="Select a date"
					ng-model="$ctrl.job.data.time_end"
					ng-model-options="{ updateOn: 'blur' }">
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-offset-2 col-xs-4">
			<input type="submit" class="pull-right btn btn-primary" value="Save" />
		</div>
	</div>
</form>